.flex-row {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.justify-contents {
  justify-content: center;
}
.align-items {
  align-items: center;
}
.main_contianer {
  max-width: 100%;
}
.subcontainer_one {
  background-image: url("../../public/imgs/amey-meher-m70uKZsv_e4-unsplash (1).jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10px;
}
.main_contianer header {
  margin: auto;
}
.main_contianer header img {
  width: 80px;
  margin: 0px;
}
.main_contianer header h1 {
  color: white;
  margin: 0px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
}
.navbar ul {
  list-style: none;
  padding: 1px;
  color: white;
}
.navbar ul li {
  margin-left: 20px;
  padding: 3px 10px;
  font-weight: bold;
}
.navbar ul li:hover {
  cursor: pointer;
  background-color: rgb(75, 73, 73);
  color: white;
  border-radius: 10px;
}
.searchbar_container {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin: auto 20px;
}
.fa-search {
  color: orange;
}

.searchbar_container label {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-right: none;
  margin: 0px;
  width: 30px;
  height: 40px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 1px;
  background-color: white;
}
.searchbar_container label:hover .fa-search {
  cursor: pointer;
  background-color: white;
  color: orange;
}
.searchbar_container label:active .fa-search {
  cursor: pointer;
  color: rgb(164, 110, 9);
}
.searchbar_container input {
  width: 200px;
  border: none;
  height: 40px;
  border-left: none;
  padding: 1px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 18px;
}
.searchbar_container input::placeholder {
  text-align: center;
  font-size: 18px;
}
.sectionAB_container {
  display: flex;
}
.subContainer_one_section_A {
  width: 45%;
  margin-left: 30px;
  margin-right: 15px;
  margin-top: 280px;
  padding: 10px;
  height: 270px;
  background-color: rgba(205, 117, 10, 0.514);
  box-sizing: border-box;
  color: white;
  overflow-x: auto;
}
.subContainer_one_section_A div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}
.star {
  color: white;
}
.loremWordsA {
  font-size: 20px;
  text-align: center;
}
.Quotes {
  margin: 5px auto;
}
.subContainer_one_section_B {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-left: 30px;
  margin-right: 15px;
  margin-top: 30px;
  padding: 10px;
  box-sizing: border-box;
  color: white;
}
.sectionB_img_container {
  width: 200px;
  height: 100px;
}
.sectionB_img_container img {
  width: 100%;
  height: 100%;
}
.subContainer_one_section_B h1 {
  margin: 2px auto;
  font-size: 100px;
  font-family: "Merienda", cursive;
}
.subContainer_one_section_B h2 {
  margin: 2px auto;
  font-size: 50px;
  font-weight: 600;
  font-family: "Parisienne", cursive;
}
.loremWordsB {
  font-size: 20px;
  text-align: center;
  margin: 25px auto;
  margin-bottom: 20px;
}
.learnMore {
  width: 150px;
  height: 40px;
  border-radius: 15px;
  background: transparent;
  border: 4px solid white;
  color: white;
  font-size: 20px;
}
.learnMore:hover {
  cursor: pointer;
  background-color: transparent;
}
.learnMore:active {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.461);
}
.black_strip {
  height: 100px;
  background-color: black;
}
.subcontainer_two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../public/imgs/yellow\ bkg.jpg");
  background-position: center;
  background-repeat: none;
  background-size: cover;
  height: 600px;
  text-align: center;
}
.subcontainer_two h2 {
  font-weight: lighter;
  font-size: 50px;
}
.center_black_Box {
  width: 500px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 15px;
  font-size: 20px;
  padding: 5px;
  box-sizing: border-box;
}
.Footer_container {
  background-image: url("../../public/imgs/footer1.jpg");
  background-repeat: none;
  background-position: center;
  background-size: cover;
  /* background-attachment: fixed; */
  height: 800px;
}
.Footer_container footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 100px;
}
.Footer_container footer h1 {
  margin-top: 40px;
  margin-bottom: 2px;
}
.footer_links_list {
  display: flex;
  /* flex-direction: column; */

  list-style: none;
}
.footer_links_list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  margin: 5px 10px;
  list-style: none;
}
.footer_links_list li h1 {
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  font-weight: lighter;
  font-size: 35px;
  margin: 2px auto;
}
.footer_links_list li p {
  font-size: 18px;
}
.footer_links_list li button {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  margin: 20px auto;
  background: transparent;
  font-weight: bold;
  font-size: 18px;
}
.footer_links_list li button:hover {
  cursor: pointer;
  background-color: transparent;
}
.footer_links_list li button:active {
  background-color: rgba(128, 128, 128, 0.372);
}

/*  Media Query */
@media only screen and (max-width: 800px) {
  .main_contianer {
    width: 100vw;
  }
  .navbar ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 1px;
    color: white;
  }
  .sectionAB_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 2px;
    margin-left: 15px;
  }
  .subcontainer_one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .subContainer_one_section_A {
    width: 100%;
    margin: 0px auto;
  }
  .subContainer_one_section_B {
    width: 100%;
    margin: 0px auto;
  }
  .subContainer_one_section_B h1 {
    margin: 2px auto;
    font-size: 50px;
  }
  .subContainer_one_section_B h2 {
    margin: 2px auto;
    font-size: 40px;
    font-weight: 600;
    font-family: "Parisienne", cursive;
  }
  .subcontainer_two h2 {
    font-size: 30px;
  }
  .center_black_Box {
    width: 380px;
  }
  .Footer_container {
    background-image: url("../../public/imgs/footer1.jpg");
    background-repeat: none;
    background-position: center;
    background-size: cover;
  }
  .Footer_container footer h1 {
    margin-top: 10px;
  }
  .Footer_container footer {
    margin: 0px 0px;
    width: 100%;
  }
  .Footer_container footer h1 {
    text-align: center;
  }
  .footer_links_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px;
    width: 100%;
    list-style: none;
    margin: auto 10px;
  }
  .footer_links_list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0px 5px;
    list-style: none;
  }
  .footer_links_list li h1 {
    font-weight: bold;
    background-color: rgba(132, 126, 126, 0.438);
  }
  .footer_links_list li p {
    font-size: 18px;
    width: 96%;
    margin: 5px 0px;
    padding: 2px;
    background-color: rgba(5, 4, 4, 0.438);
    color: white;
    border-radius: 10px;
  }
}
